# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df = pd.read_csv('../clean_city_data.csv')
df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,Punta Arenas,75,CL,1600809771,57,-53.15,-70.92,48.20,16.11
1,Los Llanos de Aridane,75,ES,1600809914,83,28.66,-17.92,75.20,3.36
2,Lebu,43,CL,1600809774,73,-37.62,-73.65,51.94,18.43
3,Bluff,51,NZ,1600809805,87,-46.60,168.33,54.00,7.00
4,Ushuaia,75,AR,1600809772,74,-54.80,-68.30,44.60,21.92
...,...,...,...,...,...,...,...,...,...
561,Iracoubo,32,GF,1600810077,77,5.48,-53.20,81.79,15.70
562,Jódar,100,ES,1600810077,45,37.84,-3.35,75.99,3.04
563,Balabac,36,PH,1600810077,79,7.99,117.06,82.04,8.37
564,Kirakira,33,SB,1600810078,77,-10.45,161.92,81.43,7.23
565,Pemberton,75,CA,1600810078,67,50.32,-122.80,60.80,5.82

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations = df[["Latitude", "Longitude"]]
humidity = df["Humidity"].astype(float)

In [4]:
%matplotlib inline
fig = gmaps.figure()
h_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=1)
fig.add_layer(h_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
not_US = df.drop(df[df['Country'] == 'US'].index, inplace=False)
warm_enough = not_US.drop(not_US[not_US['Max Temperature'] < 75].index, inplace=False)
sunshine = warm_enough.drop(warm_enough[warm_enough['Cloudiness'] > 50].index, inplace=False)
sunshine

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
8,Teguise,20,ES,1600809916,78,29.06,-13.56,75.20,14.99
14,Ambon City,40,ID,1600809918,94,-3.70,128.18,78.01,5.82
19,Tomatlán,4,MX,1600809919,62,19.93,-105.25,89.60,10.16
38,Doha,0,QA,1600809855,70,25.29,51.53,91.40,5.82
42,Butaritari,2,KI,1600809791,77,3.07,172.79,83.16,18.52
...,...,...,...,...,...,...,...,...,...
548,Kiryat Gat,2,IL,1600809823,71,31.61,34.76,80.01,3.96
552,Zamora,50,EC,1600810073,63,-4.07,-78.96,76.73,4.36
561,Iracoubo,32,GF,1600810077,77,5.48,-53.20,81.79,15.70
563,Balabac,36,PH,1600810077,79,7.99,117.06,82.04,8.37
564,Kirakira,33,SB,1600810078,77,-10.45,161.92,81.43,7.23

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = sunshine
hotel_df['Hotel Name']=''

params = {
    "key": g_key,
    "radius": 5000,
    "type" : 'lodging',
}

url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    long = row["Longitude"]
    
    params["location"] = f"{lat},{long}"
    
    info = requests.get(url, params=params)
    
    info= info.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = info["results"][0]["name"]
    except(KeyError, IndexError):
        print("not enough data...")
        
hotel_df

not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...
not enough data...

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed,Hotel Name
8,Teguise,20,ES,1600809916,78,29.06,-13.56,75.20,14.99,
14,Ambon City,40,ID,1600809918,94,-3.70,128.18,78.01,5.82,
19,Tomatlán,4,MX,1600809919,62,19.93,-105.25,89.60,10.16,
38,Doha,0,QA,1600809855,70,25.29,51.53,91.40,5.82,
42,Butaritari,2,KI,1600809791,77,3.07,172.79,83.16,18.52,
...,...,...,...,...,...,...,...,...,...,...
548,Kiryat Gat,2,IL,1600809823,71,31.61,34.76,80.01,3.96,
552,Zamora,50,EC,1600810073,63,-4.07,-78.96,76.73,4.36,
561,Iracoubo,32,GF,1600810077,77,5.48,-53.20,81.79,15.70,
563,Balabac,36,PH,1600810077,79,7.99,117.06,82.04,8.37,
564,Kirakira,33,SB,1600810078,77,-10.45,161.92,81.43,7.23,

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [8]:
# Add marker layer ontop of heat map
%matplotlib inline
m_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(m_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))